<footer>
  <a class="logo" href="https://invitodigital.com"><img href src="/assets/images/logo.png" alt=""></a>
  <span class="slogan">¿Quieres una invitación como esta?</span>
  <div class="contact web">
    <div class="col">
      <a href="https://wa.me/526461032994" rel="nofollow" target="_blank"
      aria-label="Contactar por WhatsApp"><img src="/assets/images/whatsapp.png" alt="">&nbsp; 646 103 29 94</a>
      <a href="https://facebook.com/invitodigital" rel="nofollow"
      target="_blank" aria-label="Página de Facebook"><img src="/assets/images/facebook.png" alt="">&nbsp; invitodigital</a>
    </div>
    <div class="col">
      <a href="https://invitodigital.com" target="_blank"><img src="/assets/images/web.png" alt="">&nbsp; invitodigital.com</a>
      <a href="https://www.instagram.com/yoinvitodigital/" rel="nofollow"
      target="_blank" aria-label="Página de Instagram"><img src="/assets/images/instagram_white.png" alt="">&nbsp; yoinvitodigital</a>
    </div>
    <div class="col">
      <a href="mailto:contacto@invitodigital.com" rel="nofollow" target="_blank"
      aria-label="Contactar por correo electrónico"><img src="/assets/images/mail.png" alt="">&nbsp; contacto@invitodigital.com</a>
      <a href="https://www.tiktok.com/@invitodigital" rel="nofollow"
      target="_blank" aria-label="Página de TikTok"><img src="/assets/images/tiktok.png" alt="">&nbsp; invitodigital</a>
    </div>
  </div>

  <div class="contact mobile">
    <div class="col1">
      <a href="https://invitodigital.com" target="_blank"><img src="/assets/images/web.png" alt="">&nbsp; invitodigital.com</a>
      <a href="https://wa.me/526461032994" rel="nofollow" target="_blank"
      aria-label="Contactar por WhatsApp"><img src="/assets/images/whatsapp.png" alt="">&nbsp; 646 103 29 94</a>
      <a href="mailto:contacto@invitodigital.com" rel="nofollow" target="_blank"
      aria-label="Contactar por correo electrónico"><img src="/assets/images/mail.png" alt="">&nbsp; contacto@invitodigital.com</a>
    </div>
    <div class="col2">
      <a href="https://facebook.com/invitodigital" rel="nofollow"
      target="_blank" aria-label="Página de Facebook"><img src="/assets/images/facebook.png" alt="">&nbsp; invitodigital</a>
      <a href="https://www.instagram.com/yoinvitodigital/" rel="nofollow"
      target="_blank" aria-label="Página de Instagram"><img src="/assets/images/instagram_white.png" alt="">&nbsp; yoinvitodigital</a>
      <a href="https://www.tiktok.com/@invitodigital" rel="nofollow"
      target="_blank" aria-label="Página de TikTok"><img src="/assets/images/tiktok.png" alt="">&nbsp; invitodigital</a>
    </div>
  </div>

</footer>
