<div id="xv-carousel"></div>

<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'" #carousel [dark]="false">

  <!-- Slide 1 -->
  <mdb-carousel-item>
    <img src="/assets/images/foto1.jpg" class="d-block w-100 first-slide" alt="Vanessa seria de perfil." />
    <div class="carousel-caption">
      <div class="captions">
        <h5>Junio 10 2023</h5>
      </div>
    </div>
  </mdb-carousel-item>

  <!-- Slide 2 -->
  <mdb-carousel-item>
    <img src="/assets/images/foto2.jpg" class="d-block w-100 second-slide"
      alt="Vanessa sosteniendo un globo de cumpleaños." />
    <div class="carousel-caption">
      <div class="captions">
        <h5>XV años</h5>
      </div>
    </div>
  </mdb-carousel-item>

  <!-- Slide 3 -->
  <mdb-carousel-item>
    <img src="/assets/images/foto3.jpg" class="d-block w-100 third-slide"
      alt="Vanessa sonriente con la mirada hacia abajo." />
    <div class="carousel-caption">
      <div class="captions">
        <h5>Vanessa Solis</h5>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
