<div class="wreath">
  <img class="web" src="/assets/images/guirnalda_web.png" alt="">
  <img class="mobile" src="/assets/images/guirnalda_mobile.png" alt="">
</div>

<mdb-carousel [controls]="true" [indicators]="true" #carousel [dark]="true">

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        1. Víctor y Marilú Ortiz <br>
        2. Elio y Eliena Ortiz <br>
        3. Alfredo y Gaby Ortiz <br>
        4. Carlos y Paty Ortiz <br>
        5. Chuy y Elena Ruiz <br>
        6. Cristian y Misty Ruiz <br>
        7. Tomas y Alma Ruiz <br>
        8. Jose y Lupita Cervantes <br>
        9. Chava y Reve Ruiz <br>
        10. Samuel y Emelia Ruiz
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        11. Carlos y Jessica Chanquin <br>
        12. Guillermo y Lucy Olague <br>
        13. Jose y Juanita Diaz <br>
        14. Pepe y Martha Perez <br>
        15. Miguel y Cleme Ruiz <br>
        16. Estelita Aguilera <br>
        17. Gera Reyes <br>
        18. Leonel Reyes <br>
        19. Daniel y Lupe Lopez <br>
        20. Gloria Perez
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        21. Adrian y Alma Diaz <br>
        22. Rafa y Clara Diaz <br>
        23. Jose y Monica Jimenez <br>
        24. Hector y Nora Muñoz <br>
        25. Naty y Alicia Palmerin <br>
        26. Sabas Jr Diaz <br>
        27. Omar y Isabel Salgado <br>
        28. Lupe y Ofelia Diaz <br>
        29. Erick y Lupe Montoya <br>
        30. Celina López
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        31. Jesus y Erika Diaz <br>
        32. Javi y Daisy Diaz <br>
        33. Miguel y Liz terrazas <br>
        34. Orlando y Luz Maria Rosas <br>
        35. Damian Montes <br>
        36. 36-Chava y Marilud Ayala <br>
        37. Chuy y Lupe Ayala <br>
        38. Victor y Marlén Hernández <br>
        39. Samuel Jr Hernandez <br>
        40. Pepe Ayala
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        41. Marco Ayala <br>
        42. Esequiel y Griselda Rosas <br>
        43. Jaime y Laura Pérez <br>
        44. Francisco y Elsa Pérez <br>
        45. Aurelio López <br>
        46. Cristy Leon <br>
        47. Estelita Aguilera <br>
        48. Mayra Lopez <br>
        49. Rocio Perez <br>
        50. Norma Reyes
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        51. Evelia Pérez <br>
        52. Lupe Díaz <br>
        53. Edith Ayala <br>
        54. Cristy Diaz <br>
        55. Rosalva López <br>
        56. Jose y Lupita Fonseca <br>
        57. Feliz Ramírez y Erika Leon <br>
        58. Jose y Rosalia Aguilar <br>
        59. Joel y Elena Monroy <br>
        60. Paty Ramírez
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        61. Mary Diaz <br>
        62. Luzma Lopez <br>
        63. Carmelita Diaz <br>
        64. Fany Perez <br>
        65. Misael Garcia y Gerardo Wence <br>
        66. J. Ramiro y Esther Garcia <br>
        67. Cruz y Sandra Lopez <br>
        68. Jesus y Blanca Hernandez <br>
        69. Ángel y Elida Ayala <br>
        70. Neto y Mary Albor
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        71. J. Juan y Edelmira Pérez <br>
        72. Adán y Aide Ortiz <br>
        73. Javier y Paola Zamudio <br>
        74. Ventura Zamudio <br>
        75. Lupe y Marisol Sánchez <br>
        76. Chuy Sánchez <br>
        77. Javier y Pili Ortiz <br>
        78. Jesús y Mary Pérez <br>
        79. Juanito y Llajayra López <br>
        80. Trene y Cleme Ayala
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        81. Enrique y Paty Reyes <br>
        82. Martín y Bertha García <br>
        83. Rafael y Toña Palmerin <br>
        84. Ventura y Elenita Zamudi <br>
        85. Feliz y Carmelita Sierra <br>
        86. Alfonso y Juanita Pérez <br>
        87. Carlos y Alejandra Castillo <br>
        88. P. Inocencio y Elvira Albor <br>
        89. Javier y Salud Leon <br>
        90. Javi jr y Angelica Leon
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        91. Toño y Claudia Leon <br>
        92. Mariano y Trini Ruiz <br>
        93. Pano Perez <br>
        94. Wilmer y Toña Palmerin <br>
        95. Josafat Ruiz <br>
        96. Ana Zamudio <br>
        97. Emilio Albor <br>
        98. Osbaldo Albor <br>
        99. Luis Ruiz <br>
        100. José Sami
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Más padrinos</h2>
      <p>
        101. Regino Díaz <br>
        102. Juanita Calderon
      </p>
    </div>
  </mdb-carousel-item>

</mdb-carousel>
