<div class="wreath">
  <img class="web" src="/assets/images/guirnalda_web.png" alt="">
  <img class="mobile" src="/assets/images/guirnalda_mobile.png" alt="">
</div>

<section>
  <div class="container-fluid birthday">
    <h2>Vanessa Solis</h2>

    <!-- Birthday picture -->
    <img src="/assets/images/profile.jpg" class="img-fluid rounded-circle image-birthday"
      alt="Vanessa ligeramente sonriente." />

    <!-- Birthday message -->
    <div class="message">
      <span>Mis XV años</span>
    </div>
  </div>
</section>

<div class="wreath">
  <img class="web" src="/assets/images/guirnalda_bottom_web.png" alt="">
  <img class="mobile" src="/assets/images/guirnalda_bottom_mobile.png" alt="">
</div>
