<mdb-carousel [controls]="true" [indicators]="true" #carousel [dark]="true">

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Padrinos</h2>

      <span class="type">Velación</span>
      <span class="name">Horacio y Teresa Ferreira</span>

      <span class="type">Coronación</span>
      <span class="name">Edgard Castro y Daisy Díaz</span>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Padrinos</h2>

      <span class="type">Medalla</span>
      <span class="name">Gustavo y Ade Ayala, Beto y Sandy Ayala</span>

      <span class="type">Anillo</span>
      <span class="name">Toño y Mary Díaz</span>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Padrinos</h2>

      <span class="type">Esclava</span>
      <span class="name">Guty y Lourdes Ayala, Cuate y Gloria Ayala</span>

      <span class="type">Reloj</span>
      <span class="name">Chato y Julia Ayala, Juanito y Jackie Ayala, Cruz y Cristy Palmerin</span>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Padrinos</h2>

      <span class="type">Aretes</span>
      <span class="name">Chona y Ma Cuca</span>

      <span class="type">Peinado y maquillaje</span>
      <span class="name">Verania Díaz</span>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Padrinos</h2>

      <span class="type">Copas</span>
      <span class="name">Isaac y Jackie Enciso </span>

      <span class="type">Regalo sorpresa</span>
      <span class="name">Yessy Ayala, Isabel Ayala, Mary Tere Diaz</span>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="godparents">
      <h2 class="title">Padrinos</h2>

      <span class="type">Botas</span>
      <span class="name">Zaraiy Magaña Y Galy Alvarado</span>

      <span class="type">Último juguete</span>
      <span class="name">Ruby Rosas</span>
    </div>
  </mdb-carousel-item>

</mdb-carousel>
