<div id="xv-contact"></div>

<section class="container-fluid contact">
  <div class="data">
    <header>
      <h2 class="title">Nuestro contacto</h2>
    </header>
    <p>
      Compartimos nuestro número de contacto para cualquier duda:
    </p>
    <div class="numbers">
      <div class="whatsapp groom">
        <a class="btn btn-light btn-lg btn-floating" href="https://wa.me/17738198635" rel="nofollow" target="_blank"
          aria-label="Contactar a María por WhatsApp"><i class="fab fa-whatsapp fa-2x"></i></a>
        <a class="name" href="https://wa.me/17738198635" rel="nofollow" target="_blank">María Magaña</a>
      </div>
    </div>
  </div>
</section>
