<div id="xv-contact"></div>

<section class="container-fluid contact">
  <div class="data">
    <header>
      <h2 class="title">Nuestro contacto</h2>
    </header>
    <p>
      Compartimos nuestro número de contacto para cualquier duda:
    </p>
    <div class="numbers">
      <div class="whatsapp groom">
        <a class="btn btn-light btn-lg btn-floating" href="https://wa.me/526642339199" rel="nofollow" target="_blank"
          aria-label="Contactar a Fabiola por WhatsApp"><i class="fab fa-whatsapp fa-2x"></i></a>
        <a class="name" href="https://wa.me/526642339199" rel="nofollow" target="_blank">Fabiola Betancourt</a>
      </div>
    </div>
  </div>
</section>
