@import "../../vars.scss";

#xv-contact {
  position: absolute;
  margin-top: -80px;
}

.contact {
  width: 100%;
  height: 800px;
  background-image: url("/assets/images/contact.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 127px 0;
  display: flex;
}

.data {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  width: 45%;
  height: 546px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  margin: 141px auto 30px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3.125rem;
  font-family: $great;
  color: $tertiary_wedding;
}

p {
  font-family: $raleway;
  font-size: 1.125rem;
  line-height: 1.35rem;
  width: 55%;
  margin: 0 auto 60px;
  color: $general;
}

.numbers {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.whatsapp {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groom {
  margin-right: 50px;
}

.bride {
  margin-left: 50px;
}

a {
  color: white;
  background-color: $secondary_wedding;
}

.name {
  color: $general;
  font-family: $raleway;
  //margin-left: 10px;
  font-size: 1.25rem;
  background-color: transparent;
  margin-top: 15px;
}

// RESPONSIVE ITEMS
@media (max-width: 760px) {
  #xv-contact {
    margin-top: -50px;
  }

  .contact {
    padding: 25px 0;
    height: 400px;
  }

  .title {
    font-size: 2.188rem;
  }

  .data {
    width: 80%;
    height: 250px;
  }

  header {
    margin: 35px auto 15px;
  }

  p {
    width: 80%;
    font-size: 0.875rem;
    margin: 0 auto 30px;
    line-height: 1rem;
  }

  .name {
    font-size: 0.75rem;
    margin: auto;
    margin-top: 5px;
  }

  .whatsapp {
    flex-direction: column;
  }

  .groom {
    margin-right: 25px;
  }

  .bride {
    margin-left: 25px;
  }
}
