<section class="container-fluid countdown">
  <div class="timer">
    <!-- DAYS -->
    <div class="column">
      <div class="numbers">
        <div class="digit">{{daysToDday[0]}}</div>

        <div class="digit right">{{daysToDday[1]}}</div>
      </div>
      <div class="unit">Días</div>
    </div>

    <!-- HOURS -->
    <div class="column">
      <div class="numbers">
        <div class="digit">{{hoursToDday[0]}}</div>
        <div class="digit right">{{hoursToDday[1]}}</div>
      </div>
      <div class="unit">Horas</div>
    </div>

    <!-- MINUTES -->
    <div class="column">
      <div class="numbers">
        <div class="digit">{{minutesToDday[0]}}</div>
        <div class="digit right">{{minutesToDday[1]}}</div>
      </div>
      <div class="unit">Minutos</div>
    </div>

    <!-- SECONDS -->
    <div class="column">
      <div class="numbers">
        <div class="digit">{{secondsToDday[0]}}</div>
        <div class="digit right">{{secondsToDday[1]}}</div>
      </div>
      <div class="unit">Segundos</div>
    </div>
  </div>
</section>
