@import "../../vars.scss";

.countdown {
  height: 13vw;
  text-align: center;
  font-size: 1.25rem;
  padding: 0;
  width: 100%;
  margin: 60px auto 0;
  display: flex;
}

.timer {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 22%;
}

.numbers {
  display: flex;
  flex-direction: row;
  height: 53%;
  justify-content: space-between;
}

.digit {
  width: 45%;
  background-color: $primary_wedding;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $great;
  font-size: 3.125rem;
  color: $tertiary_wedding;
  font-weight: 400;
}

.unit {
  color: $general;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $raleway;
  font-size: 1rem;
}

@media (max-width: 980px) {
  .digit {
    font-size: 2rem;
    width: 50%;
    justify-content: flex-end;
  }

  .unit {
    font-size: 0.75rem;
    margin-top: 5px;
    height: 25%;
  }

  .numbers {
    height: 75%;
  }

  .right {
    justify-content: flex-start;
  }

  .countdown {
    height: 25vw;
    padding-bottom: 30px;
  }

}
