<div id="xv-itinerary"></div>

<section class="container-fluid itinerary">
  <header>
    <h2 class="title">Itinerario</h2>
  </header>

  <div class="container-fluid timeline">
    <!-- Picture 1 -->
    <div class="item">
      <img src="/assets/images/welcome.png" class="img-fluid " alt=""/>
      <span class="message">Recepción</span>
      <span class="hour">6:00 p. m.</span>
    </div>

    <!-- Picture 2 -->
    <div class="item">
      <img src="/assets/images/dinner.png" class="img-fluid dinner" alt=""/>
      <span class="message">Cena</span>
      <span class="hour">7:00 p. m.</span>
    </div>

    <!-- Picture 3 -->
    <div class="item">
      <img src="/assets/images/toast.png" class="img-fluid" alt=""/>
      <span class="message">Vals, brindis y sorpresa</span>
      <span class="hour">8:00 p. m.</span>
    </div>

    <!-- Picture 4 -->
    <div class="item">
      <img src="/assets/images/party.png" class="img-fluid" alt=""/>
      <span class="message">¡Disfrutar la fiesta!</span>
      <span class="hour">9:00 p. m.</span>
    </div>
  </div>
</section>
