<div id="birthday-invitation"></div>

<div class="wreath">
  <img class="web" src="/assets/images/guirnalda_web.png" alt="">
  <img class="mobile" src="/assets/images/guirnalda_mobile.png" alt="">
</div>

<section class="container-fluid invitation">
  <header>Te invitamos a ser parte</header>
  <span class="date">Sábado 10 de junio de 2023</span>

  <div class="data">
    <div class="ceremony">
      <span class="first">Ceremonia</span>
      <span class="second">Iglesia Sagrado Corazón de Jesús</span>
      <span class="third"><b>3:00 p. m.</b></span>
      <a class="btn btn-light btn-sm"
        href="https://www.google.com/maps/place/Parroquia+del+Sagrado+Coraz%C3%B3n+de+Jes%C3%BAs/@32.4850583,-116.9203824,14z/data=!4m10!1m2!2m1!1sSagrado+Corazon+De+Jesus!3m6!1s0x80d93ed1f3fdb1dd:0x59cc1ef359864457!8m2!3d32.4850528!4d-116.882181!15sChhTYWdyYWRvIENvcmF6b24gRGUgSmVzdXOSAQ9jYXRob2xpY19jaHVyY2jgAQA!16s%2Fg%2F1vyxjq18"
        rel="nofollow" target="_blank">Ver mapa</a>
    </div>

    <div class="reception">
      <span class="first">Recepción</span>
      <span class="second">Jardín Salón Infinity</span>
      <span class="third"><b>6:00 p. m.</b></span>
      <a class="btn btn-light btn-sm"
        href="https://www.google.com/maps/place/Sal%C3%B3n+de+Eventos+Infinity/@32.4852108,-116.9821834,12z/data=!4m10!1m2!2m1!1sjardin+salon+infinity!3m6!1s0x80d93f951bc3d573:0x249235f8a34564f2!8m2!3d32.4834806!4d-116.8605189!15sChVqYXJkaW4gc2Fsb24gaW5maW5pdHlaFyIVamFyZGluIHNhbG9uIGluZmluaXR5kgELZXZlbnRfdmVudWWaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVUlNlSEJoWVhWblJSQULgAQA!16s%2Fg%2F11p06jd1yy"
        rel="nofollow" target="_blank">Ver mapa</a>
    </div>
  </div>
</section>

<div class="wreath">
  <img class="web" src="/assets/images/guirnalda_bottom_web.png" alt="">
  <img class="mobile" src="/assets/images/guirnalda_bottom_mobile.png" alt="">
</div>
