// FONTS
$raleway: "Raleway", Arial, Helvetica, sans-serif;
$raleway_semibold: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
$antic: "Antic_Didone", Arial, Helvetica, sans-serif;
$great: "Great_Vibes", Arial, Helvetica, sans-serif;

// COLORS
$general: #333333;
$primary_wedding: #F4FBFF;
$secondary_wedding: #28363E;
$tertiary_wedding: #26719C;
