@import "../../vars.scss";

.photos {
  color: $general;
  padding: 0;
}

.collage {
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30vw 30vw;
  grid-template-areas:
  "header header"
  "main right";
  grid-gap: 2vw;
  margin: 60px auto;
}

.picture {
  background-repeat: no-repeat;
  background-size: cover;
}

.collage1 {
  background-position: center 15%;
  grid-area: header;
  background-image: url("/assets/images/second_collage1.jpeg");
}

.collage2 {
  background-position: center center;
  grid-area: main;
  background-image: url("/assets/images/second_collage2.jpeg");
}

.collage3 {
  background-position: center center;
  grid-area: right;
  background-image: url("/assets/images/second_collage3.jpeg");
}

// RESPONSIVE ITEMS
@media (max-width: 980px) {
  .collage {
    margin: 30px auto;
    width: 85%;
    grid-template-rows: 65vw 65vw;
  }

}
